#carO {
    height: auto;
    width: 90%;
    align-content: center;
    background-color: #7395AE;
    border-radius: 50px;
    margin: 10px;
    max-height: 563px;
    max-width: 1000px;
    min-width: 500px;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    align-content: center;
    border-radius: 50px;
    max-height: 563px;
  }
  
  #headerRow {
      background-color: #C1C8E4;
      border-radius: 100px;
      padding: 10px;        /* This is the space in between ribbon and words inside */
      margin: 10px;          /* This is the space between ribbon and the elements outside the ribbon */
  }

  .birdList {
      padding: 10px;
      margin: 10px;
      background-color: #84CEEB;
      border-radius: 10px;
      color: black;
      max-height: 563px;
      overflow: scroll;
      overflow-x: scroll;
      width: 100%;
      min-width: 150px;
    
  }

  .birdMain {
    background-image: conic-gradient( #5680E9, black, #5680E9, black, #5680E9, black, #5680E9);
    padding: 10px;
    font-family: '';
    min-width: 750px;
  }

 