#carO {
    height: 563px;
    width: 1000px;
    align-content: center;
    background-color: #7395AE;
    border-radius: 50px;
  }
  
  .carousel-item img {
    width: auto;
    margin: auto;
    display: block;
    align-content: flex;
    border-radius: 50px;
  }
  
  #headerRow {
      background-color: #7395AE;
      border-radius: 100px;
      padding: 10px;
      margin: 5px;
  }

  .birdList {
      padding: 10px;
      margin: 10px;
      background-color: gray;
      border-radius: 10px;
      color: white;
  }

  .bigList {
    max-height: 200px;
    overflow: auto;
    background-color: gray;
    color: white;
  }