

.App {
  text-align: center;
   background-color: #696969;

}

#bioSideCol {
  background-color: #7f9c96;
  border-radius: 5px;
  height: fit-content;
}

.BroPicture {
  border-radius: 10px;
  max-width: 500px;
  overflow: hidden;
  border: 1px solid #7F9C96;
  border-radius: 10px;
  border-color: teal;
}

.BPCol {
  padding-bottom: 30px;
}

.BirdGif {
  max-width: 225px;
  transform: scaleX(-1);
}

.HockeyGif {
  padding-top: 20px;
  max-width: 190px;
  transform: scaleX(-1);
}

.basic {
  padding: 10px;
  margin: 10px;
}

